<% include header.html %>
<% include sidebar.html %>
    <div class="content">
        <div class="container-fluid">
             <div class="content" style="margin-left: 0px;">
                <div id="pad-wrapper">
                    <div class="row-fluid calendar-wrapper">
                        <div class="span12">
                            <div id='calendar'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='js/fullcalendar.min.js'></script>
    <script src='js/gcal.js'></script>
    <script src="js/jquery-ui.custom.min.js"></script>

    <!-- builds fullcalendar example -->
    <script>
        $(document).ready(function() {
        
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();
            
            var cal = $('#calendar').fullCalendar({
                header: {
                    left: 'month,agendaWeek,agendaDay',
                    center: 'title',
                    right: 'today prev,next'
                },
                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    var title = prompt('Event Title:');
                    if (title) {
                        cal.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                        );
                    }
                    cal.fullCalendar('unselect');
                },
                editable: true,
                events: 'http://www.google.com/calendar/feeds/usa__en%40holiday.calendar.google.com/public/basic',
                eventClick: function(event) {
                    window.open(event.url, 'gcalevent', 'width=700,height=600');
                    return false;
                },
                eventBackgroundColor: '#278ccf'
            });
            
         
        });
    </script>

<% include footer.html %>