<% include header.html %>
<% include sidebar.html %>
    
    <div class="content">
        <div class="container-fluid">
             <div id="pad-wrapper">
                <div class="table-wrapper products-table">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>Category</h4>
                        </div>
                    </div>

                    <div class="row-fluid filter-block">
                        <div class="pull-right" style ="padding-bottom: 20px">
                            <div class="ui-select">
                                <select>
                                  <option />Filter category
                                  <option />Filter amount
                                </select>
                            </div>
                            <input type="text" class="search" />
                            <a class="btn-flat success new-product">+ Add category</a>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <table class="table table-hover">
                                <tr>
                                    <th class="span2" style="border-top-width: 0px;">TOTAL</th>
                                    <th class="span4" style="
                                        border-top-width: 0px;
                                        padding-bottom: 0px;
                                        padding-top: 15px;
                                        width: 416px;
                                        padding-left: 0px;
                                        padding-right: 10px;">
                                       <div class="slider sliderTotal"></div>
                                    </th>
                            </thead>
                        </table>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="span2">Category</th>
                                    <th class="span5"><span class="line"></span>Amount Alert</th>
                                    <th class="span1"><span class="line"></span></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- row -->
                                <tr class="first">
                                    <td><span id="catename" contenteditable="true">Food</span></td>
                                    <td><div class="slider success sliderCate"></div></td>
                                    <td>
                                        <ul class="actions">
                                            <li class="last"><i class="icon-remove-sign" style="color: #d5393e;"></i></li>
                                        </ul>
                                    </td>
                                </tr>
                                <!-- row -->
                                <tr>
                                    <td><span id="catename" contenteditable="true">Rent</span></td>
                                    <td><div class="slider success sliderCate"></div></td>
                                    <td>
                                        <ul class="actions">
                                            <li class="last"><i class="icon-remove-sign" style="color: #d5393e;"></i></li>
                                        </ul>
                                    </td>
                                </tr>
                                <!-- row -->
                                <tr>
                                    <td><span id="catename" contenteditable="true">Shopping</span></td>
                                    <td><div class="slider success sliderCate"></div></td>
                                    <td>
                                        <ul class="actions">
                                            <li class="last"><i class="icon-remove-sign" style="color: #d5393e;"></i></li>
                                        </ul>
                                    </td>
                                </tr>
                                <!-- row -->
                                <tr>
                                    <td><span id="catename" contenteditable="true">Pet</span></td>
                                    <td><div class="slider success sliderCate"></div></td>
                                    <td>
                                        <ul class="actions">
                                            <li class="last"><i class="icon-remove-sign" style="color: #d5393e;"></i></li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span id="catename" contenteditable="true">Emergency</span></td>
                                    <td><div class="slider success sliderCate"></div></td>
                                    <td>
                                        <ul class="actions">
                                            <li class="last"><i class="icon-remove-sign" style="color: #d5393e;"></i></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui-1.10.2.custom.min.js"></script>
    <script src="js/bootstrap.datepicker.js"></script>


    <!-- initialize this page scripts -->
    <script type="text/javascript">
        $(function () {
            $(".sliderTotal").slider({
                range: "min",
                value: 130,
                min: 1,
                max: 500
            });
            $(".sliderCate").slider({
                range: true,
                min: 0,
                max: 500,
                values: [ 40, 170 ],
            });

            // Switch slide buttons
            $('.slider-button').click(function() {
                if ($(this).hasClass("on")) {
                    $(this).removeClass('on').html($(this).data("off-text"));   
                } else {
                    $(this).addClass('on').html($(this).data("on-text"));
                }
            });

        });
    </script>
    <script>
        var editable = document.getElementById('catename');
        
        addEvent(editable, 'blur', function () {
          localStorage.setItem('catename', this.innerHTML);
          document.designMode = 'off';
        });

        addEvent(editable, 'focus', function () {
          document.designMode = 'on';
        });

        if (localStorage.getItem('catename')) {
          editable.innerHTML = localStorage.getItem('catename');
        }

</script>


<% include footer.html %>