<% include header.html %>
<% include sidebar.html %>
    <script src="js/jquery.textSearch-1.0.js" type="text/javascript"></script>
    <div class="content">
        <div class="container-fluid">
             <div id="pad-wrapper">
                <div class="table-wrapper products-table">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>Category</h4>
                        </div>
                    </div>
                    <script>
                        function sayEnter(event) {
                            if (event.which == 13)
                                var v = $("#txtSearchKeyword").val();
//                                alert( $("#txtSearchKeyword").val());
                                $("#searchTextTest").textSearch(v);
                                return false;
                        }
                    </script>
                    <div class="row-fluid filter-block">
                        <div class="pull-right" style ="padding-bottom: 20px">
                        <input type="text" class="search" placeHolder="Search" id="txtSearchKeyword" x-webkit-speech="x-webkit-speech" onkeypress="sayEnter(event)"/>
                            <a class="btn-flat success new-product" href="#addCategory" data-toggle="modal">+ Add category</a>
                            <div id="addCategory" class="modal hide fade">
                              <div class="modal-dialog">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h4 class="modal-title">Add Category</h4>
                                    </div>
                                        <div class="modal-body">
                                           <div class="span8 column">
                                                <form>
                                                    <div class="field-box">
                                                        <label>category name:</label>
                                                        <input class="span3 addcategory-name" type="text" />
                                                    </div>   
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="button" class="btn btn-primary addcategory-button">ADD</button>
                                        </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <table class="table table-hover">
                                <tr>
                                    <th class="span2"><h3>Total:</h3>(per month)</th>
                                    <th class="span2">
                                        <input type="text" id="totalAmount" disabled style="width: 100px; overflow-x: visible; overflow-y: visible;"/>
                                    </th>
                                    <th class="span4">
                                       <div class="tooltip"></div> 
                                       <div class="sliderTotal"></div>
                                    </th>
                            </thead>
                        </table>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="span2">Category</th>
                                    <th class="span2"><span class="line">Amount per month</span></th>
                                    <th class="span5"><span class="line">Alert Setting</span></th>
                                    <th class="span1"><span class="line"></span></th>
                                </tr>
                            </thead>
                            <tbody class="category-table" id="searchTextTest">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="span6 field-box actions">
                        <input type="button" class="btn-glow primary submit-change" value="Save Changes" />
                        <span>OR</span>
                        <input type="reset" value="Cancel" class="reset cancel-change" />
                    </div>
                    <div id="deleteCate" class="modal hide fade">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete Category</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="span8 column">
                                        <p>Are you sure you want delete this category</p>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                                    <button type="button" class="btn btn-primary delete-confirm">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script src="js/jquery-ui-1.10.2.custom.min.js"></script>
    <!-- // <script src="js/bootstrap.datepicker.js"></script> -->
    
    <!-- initialize this page scripts -->
    <script type="text/javascript" class="dd">
        $(function () {
            //get catigories from server
            $.ajax({
                type: "GET",
                url: "/category/list",
                dataType: "json",
                success:function(msg){
                    if(msg.error){
                        alert("db error");
                    }else{
                        console.log(msg.categoryList);
                        var content;
                        var totleValue = 0;
                        for(var i = 0; i < msg.categoryList.length; i++){
                            totleValue+=msg.categoryList[i].line;
                            if(msg.categoryList[i].name == 'other' || msg.categoryList[i].name == 'income')
                                content += "<tr><td><span id= '"+msg.categoryList[i].name+"name' contenteditable='false'>"+msg.categoryList[i].name+"</span></td><td><input type='text' id='"+msg.categoryList[i].name+"' disabled value = '$"+msg.categoryList[i].line+"' style='width: 100px; overflow-x: visible; overflow-y: visible;'/></td><td><div class='success slider"+msg.categoryList[i].name+"'></div></td><td></td></tr>";
                                
                            else
                                content += "<tr><td><span id= '"+msg.categoryList[i].name+"name' contenteditable='false'>"+msg.categoryList[i].name+"</span></td><td><input type='text' id='"+msg.categoryList[i].name+"' disabled value = '$"+msg.categoryList[i].line+"' style='width: 100px; overflow-x: visible; overflow-y: visible;'/></td><td><div class='success slider"+msg.categoryList[i].name+"'></div></td><td><ul class='actions'><li><a href='#deleteCate' id='delete-"+msg.categoryList[i].name+"' data-toggle='modal' class='icon-remove-sign deleteCate' style='color: #d5393e;'></a></li></ul></td></tr>";
                        }
                        $('.category-table').html(content);
                        
                        var slider  = $('.sliderTotal'),
				        tooltip = $('.tooltip');
                        //Hide the Tooltip at first
                        tooltip.hide();
                        
                        //var totleValue = 40*msg.categoryList.length;
                        var totleMax = 0;
                        var start;
                        var stop;
                        for(var i = 0; i < msg.categoryList.length; i++){
                            var ele = msg.categoryList[i].name;
                            (function(ele){
                                $(".slider"+msg.categoryList[i].name).slider({
                                    range: "min",
                                    min: 0,
                                    max: 1000,
                                    value: msg.categoryList[i].line,
                                    slide: function(event, ui) {
                                        $("#"+ele).val("$" + ui.value);
                                        
                                        //totleMax+=ui.max;
                                        
                                        //console.log(ele);
                                    },
                                    start: function(event, ui){
                                        start = ui.value;
                                    },
                                    stop: function(event, ui){
                                        stop = ui.value;
                                        var diff = stop-start;
                                        totleValue+=diff;
                                        $("#totalAmount").val("$" + totleValue);
                                    }
                                });
                            }(ele))                            
                        }
                       
                        // Switch slide buttons
                        $('.slider-button').click(function() {
                            if ($(this).hasClass("on")) {
                                $(this).removeClass('on').html($(this).data("off-text"));   
                            } else {
                                $(this).addClass('on').html($(this).data("on-text"));
                            }
                        });
                        //add category
                        $('.addcategory-button').click(function(){
                            if($('.addcategory-name').val() == ''){
                                $('.field-box').append('Please enter a category name');
                            }
                            else{
                                for(var i = 0; i < msg.categoryList.length; i++){
                                    if($('.addcategory-name').val() == msg.categoryList[i].name){
                                        $('.field-box').append('You have already set this category');
                                        break;
                                    }else{
                                        if(i == msg.categoryList.length-1){
                                            $.ajax({
                                                type: "POST",
                                                url: "/category/new",
                                                data: {name:$('.addcategory-name').val()},
                                                dataType: "json",
                                                success: function(msg){
                                                    if(msg.error){
                                                        
                                                    }else{
                                                        location.reload();
                                                    }
                                                }
                                            })
                                        }
                                    }
                                }
                            }
                        });
                        
                        //delete category
                        $('.deleteCate').click(function(){
                            var temp = $(this).attr('id').split('-');
                            var cat = temp[1];
                            $('.delete-confirm').click(function(){
                                $.ajax({
                                    type: "DELETE",
                                    url: "/category",
                                    data: {_method:"delete", name: cat},
                                    datatype: "json",
                                    success: function(msg){
                                        console.log(msg.error);
                                        if(msg.error == false){
                                            location.reload();
                                        }
                                    }
                                })
                            })
                            console.log(name);
                        });
                        
                        //submit change
                        $('.submit-change').click(function(){
                            var cateData = "[";
                            for(var i = 0; i < msg.categoryList.length; i++){
                                var value = $('#'+msg.categoryList[i].name).val().replace('$','');
                                console.log(value);
                                if(i != msg.categoryList.length-1)
                                    cateData+="{name:'"+msg.categoryList[i].name+"',line:"+value+"},";
                                else
                                    cateData+="{name:'"+msg.categoryList[i].name+"',line:"+value+"}";
                            }
                            cateData+="]";
                            console.log(cateData);
                            $.ajax({
                                type: "POST",
                                url: "/category",
                                data: {_method:'put',categoryList:cateData},
                                dataType: "json",
                                success: function(msg){
                                    
                                    if(msg.error){
                                        console.log("error")
                                    }else{
                                        location.reload();
                                    }
                                }
                            })
                            
                        })
                    }
                }
            })
            
        });
        
	</script>
    

    <style>
        .tooltip {
/*            position: absolute;*/
            display: block;
            width: 35px;
            height: 20px;
            color: #fff;
            text-align: center;
            font: 10pt Tahoma, Arial, sans-serif ;
            border-radius: 3px;
            border: 1px solid #333;
            -webkit-box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
            box-shadow:  1px 1px 2px 0px rgba(0, 0, 0, .3);
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            background: -moz-linear-gradient(top,  rgba(69,72,77,0.5) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,0.5)), color-stop(100%,rgba(0,0,0,0.5))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* IE10+ */
            background: linear-gradient(top,  rgba(69,72,77,0.5) 0%,rgba(0,0,0,0.5) 100%); /* W3C */
        }
    </style>

<% include footer.html %>