<!DOCTYPE html>
<html>
    <head>
        <style>
            #templatemo_footer_wrapper  {
                width: 100%;
                background: url(images/templatemo_footer.png) center top no-repeat
            }
            #templatemo_footer .footer_links {color:#333; text-decoration:none; cursor:text; margin-right:5px;}
        </style>
    </head>
    <body>
        <div id="templatemo_footer_wrapper">
            <div id="templatemo_footer">
               <p><a class="footer_links" href="#" target="_blank"></a>Copyright ©Cheng Liu  Mengyi Gong  Xiao Han  Zhi Qian  Zhejun Huang</p>
            </div>
        </div>
    </body>
</html>