<% include headerSign.html %>
    <!-- this page specific styles -->
    
    <link rel="stylesheet" href="css/compiled/signup.css" type="text/css" media="screen" />
    <style>
        body {
            background: url('img/bgs/landscape.jpg') no-repeat fixed center;
            background-size:cover
        }
    </style>
    <script>
        var response = false; 
        function returnTrue(){
            return true;
        }
        function returnFalse(){
            return false;
        }
        $().ready(function() {
        	// validate the comment form when it is submitted
            /*$.validator.addMethod(
			        "uniqueEmail", 
			        function (value, element) {
                        //var res = "cheng";
                        
			            $.ajax({
			                type: "POST",
			                url: "/validate",
			                data: {
                                "email": value
                            },
			                dataType:"json",
			                success: function(msg)
			                {
                                
			                    response = msg.flag;
                                alert(response);
                                
			                }
			             });
			            return response;
			        },
			        "Email is Already Taken"
			    ); */
        	// validate signup form on keyup and submit
        	$("#signupForm").validate({
        		rules: {
        			email: {
        				required: true,
        				email: true,
                        remote: {
                            url: "/validate/email",
                            type: "POST",
                            data:{
                                email: function(){
                                    return $("#email").val();
                                }
                            }
                        }
        			},
        			password: {
        				required: true,
        				minlength: 6
        			},
        			confirm_password: {
        				required: true,
        				minlength: 6,
        				equalTo: "#password"
        			}
        			
        		},
        		messages: {
                    email: {
                        required: "Please provide a email address",
                        email: "Please enter a valid email address",
                        remote: "Email dupilicate. Enter another email address"
                    },
        			
        			password: {
        				required: "Please provide a password",
        				minlength: "Your password must be at least 6 characters long"
        			},
        			confirm_password: {
        				required: "Please provide a password",
        				minlength: "Your password must be at least 6 characters long",
        				equalTo: "Please enter the same password as above"
        			}
        			
        			
        		}
        	});
            
            $('#loginForm').validate({
                rules: {
                    email: {
        				required: true,
        				email: true
        			},
        			password: {
        				required: true,
        				minlength: 6
        			}
                },
                message: {
                    email: {
                        required: "Please provide a email address",
                        email: "Please enter a valid email address"
                    },
        			
        			password: {
        				required: "Please provide a password",
        				minlength: "Your password must be at least 6 characters long"
        			}
                }
            })
            
        	// propose username by combining first- and lastname
        	

        });
        $(function(){
            $(".changeToSignIn").click(function(){
                $('#signup').addClass('hide');
                $('#signin').removeClass('hide');
            });
            $(".changeToSignUp").click(function(){
                $('#signin').addClass('hide');
                $('#signup').addClass('transform');
                $('#signup').removeClass('hide');
            });
        })
        
    </script>
    <style>
        #signup {
            position:relative;
            margin-top: 8%;
            margin-left: 30%;
        }
        #signin {
            position:relative;
            margin-top: 8%;
            margin-left: 30%;
        }
        .hide{
            display:none;
        }
        .changeToSignIn {
            border-style:hidden;
            
        }
        
    </style>
    <div class="container">
            <div id="signup" class="row-fluid login-wrapper">
                <div class="span4 box">
                    <div class="content-wrap">
                        <h6>Sign Up</h6>
                        <form class="cmxform" id="signupForm" method="post" action="/signup" novalidate="novalidate">
                            <label for="email">Email</label>
    			             <input class="span12" id="email" name="email" type="email" placeholder="E-mail address">
    		
    			             <label for="password">Password</label>
    			             <input class="span12" id="password" name="password" type="password" placeholder="password">

    			             <label for="confirm_password">Confirm password</label>
    			             <input class="span12" id="confirm_password" name="confirm_password" type="password" placeholder="confirm password"><br>
    			             <input class="submit" type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="already">
                        <p>Already have an account?
                        <a class="forgot changeToSignIn">Sign in</a></p>
                    </div>              
                </div>
            </div>
            
            <div id="signin" class="hide row-fluid login-wrapper">
                <div class="span3 box">
                    <div class="content-wrap">
                        <h6>Sign in</h6>
                        
                        <form action="/signin" method="post" id="loginForm">
                            <input id="email" name = "email" class="span12" type="text" placeholder="E-mail address" />
                            <input id="pass" name = "password" class="span12" type="password" placeholder="Your password" />
                            <input class="submit" type="submit" value="Submit">
                            <a class="forgot">Forgot password?</a>
                            <div class="remember">
                                <label for="remember-me"><input id="remember-me" type="checkbox" />
                                Remember me</label>
                            </div>
                        </form>                        
                    </div>
                    <div class="already">
                        <span>Don't have an account?</span>
                        <a class="forgot changeToSignUp">Sign up</a>
                    </div>
                </div>
                
            </div>
    </div>
            
    
    
    
<% include footer.html %>