<% include headerSign.html %>
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/signup.css" type="text/css" media="screen" />
    <style type="text/css">
        #signin-button {
          padding: 5px;
        }

        #oauth2-results pre { margin: 0; padding:0;}
        .hide { display: none;}
        .show { display: block;}
        body {
            background: url('img/bgs/landscape.jpg') no-repeat fixed center;
            background-size:cover
        }
        .hide{
            display:none;
        }
        .changeToSignIn {
            border-style:hidden;
            
        }
    </style>
    <script>
        var response = false; 
        function returnTrue(){
            return true;
        }
        function returnFalse(){
            return false;
        }
        $().ready(function() {
        	// validate signup form on keyup and submit
        	$("#signupForm").validate({
        		rules: {
        			email: {
        				required: true,
        				email: true,
                        remote: {
                            url: "/validate/email",
                            type: "POST",
                            data:{
                                email: function(){
                                    return $("#email").val();
                                }
                            }
                        }
        			},
        			password: {
        				required: true,
        				minlength: 6
        			},
        			confirm_password: {
        				required: true,
        				minlength: 6,
        				equalTo: "#password"
        			}
        			
        		},
        		messages: {
                    email: {
                        required: "Please provide a email address",
                        email: "Please enter a valid email address",
                        remote: "Email duplicate. Enter another email address"
                    },
        			password: {
        				required: "Please provide a password",
        				minlength: "Your password must be at least 6 characters long"
        			},
        			confirm_password: {
        				required: "Please provide a password",
        				minlength: "Your password must be at least 6 characters long",
        				equalTo: "Please enter the same password as above"
        			}
        		}
        	});
            
            $('#loginForm').validate({
                rules: {
                    email: {
        				required: true,
        				email: true
        			},
        			password: {
        				required: true,
        				minlength: 6
        			}
                },
                message: {
                    email: {
                        required: "Please provide a email address",
                        email: "Please enter a valid email address"
                    },
        			
        			password: {
        				required: "Please provide a password",
        				minlength: "Your password must be at least 6 characters long"
        			}
                }
            })
        });
        $(function(){
            $(".changeToSignIn").click(function(){
                $('#signup').addClass('hide');
                $('#signin').removeClass('hide');
            });
            $(".changeToSignUp").click(function(){
                $('#signin').addClass('hide');
                $('#signup').addClass('transform');
                $('#signup').removeClass('hide');
            });
        })
        
    </script>
    
    <div class="container">
            <div id="signup" class="row-fluid login-wrapper">
                <div class="span4 box">
                    <div class="content-wrap">
                        <h6>Sign Up</h6>
                        <form class="cmxform" id="signupForm" method="post" action="/signup" novalidate="novalidate">
                            <label for="email">Email</label>
    			             <input class="span12" id="email" name="email" type="email" placeholder="E-mail address">
    		
    			             <label for="password">Password</label>
    			             <input class="span12" id="password" name="password" type="password" placeholder="password">

    			             <label for="confirm_password">Confirm password</label>
    			             <input class="span12" id="confirm_password" name="confirm_password" type="password" placeholder="confirm password"><br>
    			             <input class="submit" type="submit" value="Submit">
                        </form>
                        <div class="socialBtn">
                            <span
                                class="g-signin"
                                data-callback="signinCallback"
                                data-height="short"
                                data-width="iconOnly"
                                data-clientid="794789720430-sio79qmr6r95j68a6ril0s3bdcjcvcfc.apps.googleusercontent.com"
                                data-clientid="911334830571.apps.googleusercontent.com"
                                data-cookiepolicy="single_host_origin"
                                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                data-scope="https://www.googleapis.com/auth/plus.login">
                            </span>
                        </div>
                    </div>

                    <div class="already">
                        <p>Already have an account?
                        <a class="forgot changeToSignIn">Sign in</a></p>
                    </div>              
                </div>
            </div>
            
            <div id="signin" class="hide row-fluid login-wrapper">
                <div class="span3 box">
                    <div class="content-wrap">
                        <h6>Sign in</h6>
                        
                        <form action="/signin" method="post" id="loginForm">
                            <input id="email" name = "email" class="span12" type="text" placeholder="E-mail address" />
                            <input id="pass" name = "password" class="span12" type="password" placeholder="Your password" />
                            <input class="submit" type="submit" value="Submit"> 

                        </form> 

                        <div class="socialBtn">
                            <span
                                class="g-signin"
                                data-callback="signinCallback"
                                data-height="short"
                                data-width="iconOnly"
                                data-clientid="794789720430-sio79qmr6r95j68a6ril0s3bdcjcvcfc.apps.googleusercontent.com"
                                data-clientid="911334830571.apps.googleusercontent.com"
                                data-cookiepolicy="single_host_origin"
                                data-requestvisibleactions="http://schemas.google.com/AddActivity"
                                data-scope="https://www.googleapis.com/auth/plus.login">
                            </span>
                        </div>
                    </div>
                    <div class="already">
                        <span>Don't have an account?</span>                                                   
                        <a class="forgot changeToSignUp">Sign up</a>
                    </div>
                </div>
            </div>
    </div>
            
    <script type="text/javascript">
        function signinCallback(authResult) {
            if (authResult['status']['signed_in']) {
                // Update the app to reflect a signed in user
                // Hide the sign-in button now that the user is authorized, for example:
                gapi.auth.setToken(authResult);
                getProfile();
            } else {
                // Update the app to reflect a signed out user
                // Possible error values:
                //   "user_signed_out" - User is signed-out
                //   "access_denied" - User denied access to your app
                //   "immediate_failed" - Could not automatically log in the user
                console.log('Sign-in state: ' + authResult['error']);
            }
        }
        function getProfile() {
            gapi.client.load('oauth2', 'v2', function() {
              var request = gapi.client.oauth2.userinfo.get();
              request.execute(getProfileCallback);
            });
        }
        function getProfileCallback(obj) {
            console.log(obj)
            $.ajax({
                type: "POST",
                url: "/google",
                dataType: "json",
                data: {
                    token: gapi.auth.getToken().access_token,
                    uid: obj.id,
                    username: obj.name,
                    gender: obj.gender
                },
                success:function(ret) {
                    window.location.reload()
                }
            })
        }
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);            
        })();
    </script>
    <style>
        #templatemo_footer_wrapper  {
            color: gray;
        }
    </style>
<% include footer.html %>