<% include header.html %>
<% include sidebar.html %>
   
<link rel="stylesheet" href="js/map.js" type="text/css" media="screen" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
<script src="js/map.js"></script>
    
<title>Map</title>
    <div class="content">
         <div class="container-fluid">
             <div id="pad-wrapper">
                <div class="table-wrapper products-table">
                        <div class="row-fluid head">
                            <div class="span12">
                                <h4>Map</h4>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div id="map-canvas" title="google map"></div>
                        </div>
                 </div>
            </div>
        </div>
    </div>
    
    <style type="text/css">
        @media (min-width: 1200px) {
            #map-canvas { 
                width: 1000px; 
                height:600px;
                margin-top:5px;
            }
        }
        @media (min-width: 768px) and (max-width: 979px) {
            #map-canvas { 
                width: 700px; 
                height:500px;
                margin-top:5px;
            }
        }
        @media (max-width: 767px) {
            #map-canvas { 
                width: 400px; 
                height:350px;
                margin-top:5px;
            }
        }
    </style>
<% include footer.html %>