<% include header.html %>
<% include sidebar.html %>
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/personal-info.css" type="text/css" media="screen" />

	<!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content wide-content">
        <div class="container-fluid">
           
            <div class="settings-wrapper" id="pad-wrapper">
                <!-- avatar column -->
                <input type="button" id="cgender" class="btn-glow primary" value="Change Gender" />
                <input type="button" id="cdob" class="btn-glow primary" value="Change DoB" />
                <input type="button" id="cusername" class="btn-glow primary" value="Change Username" />
                <input type="button" id="cpassword" class="btn-glow primary" value="Change Password" />
                <!-- edit form column -->
                <div class="span7 personal-info">
                    <div class="alert alert-info">
                        <i class="icon-lightbulb"></i>
                        <span>Please use this page to update your personal information</span>
                    </div>
                    <h5 class="personal-title">Personal info</h5>

                    <form action="/user" method="post" id="userForm">
                       
                        <div id="gender" class="hide field-box">
                            <label>Gender:</label>
                            <div class="ui-select">
                                <select id="gender" name="user[gender]">
                                    <option value="mail">Male</option>
                                    <option value="femail">Female</option>
                                </select>
                            </div>
                        </div>
                        <div id="dob" class="hide field-box">
                            <label>Date of Birth:</label>
                            <input id="dob" name="dob" class="span5 inline-input" type="text" />
                        </div>
                        <div id="username" class="hide field-box">
                            <label>Username:</label>
                            <input class="span5 inline-input" type="text" />
                        </div>
                        <div id="password" class="hide">
                            <div class="field-box">
                                <label>Old Password:</label>
                                <input class="span5 inline-input" type="password" />
                            </div>   
                            <div class="field-box">
                                <label>New Password:</label>
                                <input class="span5 inline-input" type="password" />
                            </div>
                            <div class="field-box">
                                <label>Confirm new password:</label>
                                <input class="span5 inline-input" type="password" />
                            </div>
                        </div>
                        <div class="span6 field-box actions">
                            <input type="button" class="btn-glow primary" value="Save Changes" />
                            <span>OR</span>
                            <input type="reset" value="Cancel" class="reset" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->

    <style>
        .hide{
            display:none;
        }
    </style>
	<!-- scripts -->
    <script>
        $(function(){
            $('#cgender').click(function(){
                $('#gender').removeClass('hide');
                $('#dob').addClass('hide');
                $('#username').addClass('hide');
                $('#password').addClass('hide');
            });
            $('#cdob').click(function(){
                $('#gender').addClass('hide');
                $('#dob').removeClass('hide');
                $('#username').addClass('hide');
                $('#password').addClass('hide');
            });
            $('#cusername').click(function(){
                $('#gender').addClass('hide');
                $('#dob').addClass('hide');
                $('#username').removeClass('hide');
                $('#password').addClass('hide');
            });
            $('#cpassword').click(function(){
                $('#gender').addClass('hide');
                $('#dob').addClass('hide');
                $('#username').addClass('hide');
                $('#password').removeClass('hide');
            });
        })
    </script>
<% include footer.html %>