<% include header.html %>
<% include sidebar.html %>
    <!-- libraries -->
    <!-- <link href="css/lib/bootstrap.datepicker.css" type="text/css" rel="stylesheet" /> -->
    <link href="css/lib/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />
    <!-- this page specific styles -->
    <link rel="stylesheet" href="css/compiled/personal-info.css" type="text/css" media="screen" />
    <!-- // <script src="js/bootstrap.datepicker.js"></script> -->
    <script src="js/bootstrap-datetimepicker.js"></script>
    <script>
    $(function() {
        $("#userForm2").validate({
            rules: {
                oldPass: {
                    required: true,
                    minlength: 6,
                    remote: {
                        url: "/validate/password",
                        type: "POST",
                        data:{
                            password: function(){
                                return $("#oldPass").val()
                            }
                        }
                    }
                },
                newPass: {
                    required: true,
                    minlength: 6
                },
                renewPass: {
                    required: true,
                    minlength: 6,
                    equalTo: "#newPass"
                }
            },
            messages: {
                oldPass: {
                    required: "Please provide an old password",
                    minlength: "Your password must be at least 6 characters long",
                    remote: "Your password is wrong"
                },
                newPass: {
                    required: "Please provide a new password",
                    minlength: "Your password must be at least 6 characters long"
                },
                renewPass: {
                    required: "Please provide a confirm password",
                    minlength: "Your password must be at least 6 characters long",
                    equalTo: "Please enter the same password as above"
                }
            }
        })
        $("#userForm1").validate({
            rules: {
                dobin: {
                    date: true
                },
                username: {  
                    digits: true,
                    minlength: 6,
                    maxlength: 10
                }   
            }
        })
    })
    </script>
	<!-- main container .wide-content is used for this layout without sidebar :)  -->
    <div class="content">
        <div class="container-fluid">
            <div class="settings-wrapper" id="pad-wrapper">
                <div class="span8 personal-info">
                    <div class="alert alert-info">
                        <i class="icon-lightbulb"></i>
                        <span>Please use this page to update your personal information</span>
                    </div>
                    <h5 class="personal-title">Personal info</h5>
                    <div class="infotab">
                        <ul class="nav nav-tabs">
                            <li class="active personal-title" ><a data-toggle="tab" href="#sectionA">Change Basic Information</a></li>
                            <li class="personal-title"><a data-toggle="tab" href="#sectionB">Change Password</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="sectionA" class="tab-pane fade in active">
                                <form action="/user" method="post" id="userForm1">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="field-box">
                                        <label for="username">Username:</label>
                                        <input id="username" name="username" value="<%= userInfo.username %>" class="span5 inline-input" type="text" />
                                    </div>
                                    <div id="gender" class="field-box">
                                        <label>Gender:</label>
                                        <div class="ui-select">
                                            <select id="gender" name="gender">
                                                <option value="male" <%= userInfo.gender == 'male' ? 'selected' : '' %>>Male</option>
                                                <option value="female" <%= userInfo.gender == 'female' ? 'selected' : '' %>>Female</option>
                                                <option value="other" <%= userInfo.gender == 'other' ? 'selected' : '' %>>other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div id="dob" class="field-box">
                                        <label for="dobin">Date of Birth:</label>
                                        <input class="span5 inline-input" id="dobin" name="dob" value="<%= userInfo.dob %>" data-date-format="yyyy-mm-dd" type="text" readonly style="background-color: white; cursor: auto; color: rgb(85, 85, 85);" />
                                    </div>
                                    <script>
                                            $('#dob').ready(function() {
                                                $('#dobin').datetimepicker({
                                                    weekStart: 1,
                                                    todayBtn:  1,
                                                    autoclose: 1,
                                                    todayHighlight: 1,
                                                    startView: 4,
                                                    minView: 2,
                                                    forceParse: 0
                                                })
                                            })
                                    </script>
                                    <div class="span6 field-box actions">
                                        <input type="submit" class="btn-glow primary" value="Save Changes" />
                                        <span>OR</span>
                                        <input type="reset" value="Cancel" class="reset" />
                                    </div>
                                </form>
                            </div>
                            <div id="sectionB" class="tab-pane fade">
                                <form action="/user/reset" method="post" id="userForm2">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div>
                                        <div class="field-box">
                                            <label>Old Password:</label>
                                            <input class="span5 inline-input" name="oldPass" id="oldPass" type="password" />
                                        </div>
                                        <label style="width: 770px;"for="newPass">New Password:</label>
                                        <input class="span5 inline-input" name = "newPass" id ="newPass" type="password" />
                                        <div class="field-box">
                                            <label  style="width:770px;"for="renewPass">Confirm new password: </label>
                                            <input class="span5 inline-input" name = "renewPass"id ="renewPass"type="password" />  
                                        </div>
                                    </div>
                                    <div class="span6 field-box actions">
                                        <input type="submit" class="btn-glow primary"  value="Save Changes" />
                                        <span>OR</span>
                                        <input type="reset" value="Cancel" class="reset" />
                                    </div>
                                </form>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end main container -->


<% include footer.html %>