<% include header.html %>
<% include sidebar.html %>
<link href="css/lib/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />
 <script src="js/jquery.textSearch-1.0.js" type="text/javascript"></script>
 <script src="js/bootstrap-datetimepicker.js"></script>
    <script>
                        function sayEnter(event) {
                            if (event.which == 13)
                                var v = $("#txtSearchKeyword").val();
//                                alert( $("#txtSearchKeyword").val());
                                $("#searchTextTest").textSearch(v);
                                return false;
                        }
                    </script>
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper">
                <div class="table-wrapper">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>Records</h4>
                        </div>
                    </div>
                    <div class="row-fluid filter-block">
                        <div class="pull-right" >
                            <div class="ui-select">
                                <select name="category-selector" class = "category-selector">
                                  
                                </select>
                            </div>
                            <input type="text" class="search" placeHolder="Search" id="txtSearchKeyword" x-webkit-speech="x-webkit-speech" onkeypress="sayEnter(event)"/>
                            <a class="btn-flat success new-product" role="button" href="#addRecord" data-toggle="modal">+ Add Record</a>
                            <script>
                                $('#addRecord').ready(function() {
                                    $("#my-checkbox1").bootstrapSwitch()
                                    $('#datePicker1').datetimepicker({
                                        weekStart: 1,
                                        todayBtn:  1,
                                        autoclose: 1,
                                        todayHighlight: 1,
                                        startView: 2,
                                        forceParse: 0,
                                        showMeridian: 1
                                    })
                                })
                                $('#editRecord').ready(function() {
                                    $("#my-checkbox2").bootstrapSwitch()
                                    $('#datePicker2').datetimepicker({
                                        weekStart: 1,
                                        todayBtn:  1,
                                        autoclose: 1,
                                        todayHighlight: 1,
                                        startView: 2,
                                        forceParse: 0,
                                        showMeridian: 1
                                    })
                                })
                            </script>
                            <div id="addRecord" class="modal hide fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title">Add Record</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="span8 column">
                                                <form action="/record/new" method="post">
                                                    <div class="field-box">
                                                        <label>Amount:</label>
                                                        $<input class="span3 amount add-amount" id = "amount1"type="text" name="add-amount" />
                                                         <span class="error" style="color: red; display: none">Please input digits up to two decimal places</span>
                                                    </div>
                                                    <div class="field-box">
                                                        <input type="checkbox" id="my-checkbox1" name="type" checked />
                                                    </div>
                                                    <div class="field-box">
                                                        <label>Select:</label>
                                                        <div class="ui-select">
                                                            <select name="add-record-category" class = "add-record-category">
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="field-box">
                                                        <label>Pick a date and time:</label>
                                                        <input style="background-color: white !important;cursor:auto !important;" type="text" id="datePicker1" class = "add-record-datepicker" value="" readonly/>
                                                    </div>
                                                    <div class="field-box">
                                                        <label>Description:</label>
                                                        <input class="span add-record-desc" type="text" name="desc" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                                            <button type="button" class="btn btn-primary add-record-submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <table class="table table-hover" id="searchTextTest">
                            <thead>
                                <tr>
                                    <th class="span2">
                                       <span>Date</span>
                                    </th>
                                    <th class="span2">
                                        <span>balance</span>
                                    </th>
                                    <th class="span2">
                                        <span>Amount</span>
                                    </th>
                                    <th class="span1">
                                        <span>Category</span>
                                    </th>
                                    <th class="span3">
                                        <span>Description</span>
                                    </th>
                                    <th class="span2">
                                    	<span>Operation</span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="record-content">
                                <!-- row -->
                            </tbody>
                        </table>
                        <div id="editRecord" class="modal hide fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Edit Record</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="span8 column">
                                            <form action="/record/new" method="post">
                                                <div class="field-box">
                                                    <label>Amount:</label>
                                                    $<input type="text" class="span3 editAmount" id = "amount2" name="amount"  />
                                                    <span class="error" style="color: Red; display: none">Please input digits up to two decimal places</span>
                                                </div>
                                                <div class="field-box">
                                                    <input type="checkbox" id="my-checkbox2" name="type" class="editInEx" checked/>
                                                </div>
                                                <div class="field-box">
                                                    <label>Select:</label>
                                                    <div class="ui-select">
                                                        <select name="edit-record-category" class="edit-record-category">
                                                                                    
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="field-box">
                                                    <label>Pick a date and time:</label>
                                                    <input style="background-color: white !important;cursor:auto !important;" type="text" id="datePicker2" value="" class="edit-record-datepicker" readonly/>
                                                </div>
                                                <div class="field-box">
                                                    <label>Description:</label>
                                                    <input class="span editDesc" type="text" name="desc" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                                        <button type="button" class="btn btn-primary edit-record-submit" id="editRecordConfirm">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="deleteRecord" class="modal hide fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Record</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="span8 column">
                                            <p>Are you sure you want delete this record</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal" >Cancel</button>
                                        <button type="button" class="btn btn-primary" id="deleteRecordConfirm">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>

    <script>
    // amount validation
        var specialKeys = new Array();
        specialKeys.push(8);
        $(function(){
            // $(".amount").bind("keypress", function (e) {
            //  var keyCode = e.which ? e.which : e.keyCode
            //  var ret = ((keyCode == 46||keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            // $(".error").css("display", ret&&reg.test(v) ? "none" : "inline");
            //     return ret;
            // });

            // $(".amount").bind("paste", function (e) {
            //     return false;
            // });
            // $(".amount").bind("drop", function (e) {
            //     return false;
            // });
            $(".amount").keypress(function(event) {
                    if (!$.browser.mozilla) {
                        if (event.keyCode && (event.keyCode < 48 || event.keyCode > 57) && event.keyCode != 46) {
                            // ie6,7,8,opera,chrome
                            event.preventDefault();
                        }
                    } else {
                    if (event.charCode && (event.charCode < 48 || event.charCode > 57) && event.keyCode != 46) {
                            // firefox
                            event.preventDefault();
                        }
                    }
                });

                
                $(".amount").blur(function() {
                    var input = $(this);
                    var v = $.trim(input.val());
                    var reg = new RegExp("^(([1-9]+[0-9]*(.\\d{1,2})?)|(([0]\\.){1}(\\d{1,2})))$", "g");
                    if(!reg.test(v) )
                    {
                        $(".error").css("display", "inline");
                        // input.val("");
                    }
                    else
                        $(".error").css("display", "none");
                    
                    
                });

            $.ajax({
                type: "GET",
                url: "/category/list",
                dataType: "json",
                success:function(msg){
                    if(msg.error){
                    
                    }else{
                        var content = "<option value = 'All Category'>All Category</option>";
                        var contentAddRecord = "";
                        for(var i = 0; i < msg.categoryList.length; i++){
                            content+="<option value = '"+msg.categoryList[i].name+"'>"+msg.categoryList[i].name+"</option>";
                            contentAddRecord+="<option value = '"+msg.categoryList[i].name+"'>"+msg.categoryList[i].name+"</option>";
                        }
                        $('.category-selector').html(content);
                        //$('.add-record-category').html(contentAddRecord);
                        $('.edit-record-category').html(contentAddRecord);
                    }
                    
                }
            })
            
            $.ajax({
                type: "GET",
                url: "/record/list",
                dataType: "json",
                success: function(msg){
                    if(msg.error){
                    }else{
                        
                        var content = "";
                        var balance = 0;
                        var contentList = new Array();
                        for(var i = 0; i < msg.recordList.length; i++){
                            var tempContent = "";
                            balance+=msg.recordList[i].amount;
                            
                            //console.log(msg.recordList[i].recordId);
                            //console.log(msg.balance);
                            content+="<tr class='first'>";
                            content+="<td><span>"+msg.recordList[i].dateTime+"</span></td>";
                            content+="<td><span class='dollar'>"+balance+"</span></td>";
                            if(msg.recordList[i].amount >= 0){
                                content+="<td><span class='label label-success dollar'>"+msg.recordList[i].amount+"</span></td>";
                            }else{
                                content+="<td><span class='label label-info dollar'>"+msg.recordList[i].amount+"</span></td>";
                            }
                        
                            content+="<td><span>"+msg.recordList[i].category+"</span></td>";
                            content+="<td class='description'><p>"+msg.recordList[i].desc+"</p></td>";
                            content+="<td><ul class='actions'>";
                            content+="<li><a href='#editRecord' title ='Edit' class='editRecordButton' data-toggle='modal' id='"+msg.recordList[i].recordId+"-edit'><i class='table-edit'></i></a></li>";
                            content+="<li class='last'><a href='#deleteRecord' title='delete' class='deleteRecordButton' data-toggle='modal' id='"+msg.recordList[i].recordId+"-delete'><i class='table-delete'></i></a></li>";
                            
                            tempContent+="<tr class='first'>";
                            tempContent+="<td><span>"+msg.recordList[i].dateTime+"</span></td>";
                            tempContent+="<td><span class='dollar'>"+balance+"</span></td>";
                            if(msg.recordList[i].amount >= 0){
                                tempContent+="<td><span class='label label-success dollar'>"+msg.recordList[i].amount+"</span></td>";
                            }else{
                                tempContent+="<td><span class='label label-info dollar'>"+msg.recordList[i].amount+"</span></td>";
                            }
                        
                            tempContent+="<td><span>"+msg.recordList[i].category+"</span></td>";
                            tempContent+="<td class='description'><p>"+msg.recordList[i].desc+"</p></td>";
                            tempContent+="<td><ul class='actions'>";
                            //content+="<li><a href='#editRecord' title ='Edit' class='editRecordButton' data-toggle='modal' id='"+msg.recordList[i].recordId+"-edit'><i class='table-edit'></i></a></li>";
                            tempContent+="<li class='last'><a href='#deleteRecord' title='delete' class='deleteRecordButton' data-toggle='modal' id='"+msg.recordList[i].recordId+"-delete'><i class='table-delete'></i></a></li>";
                            contentList[i] = tempContent;
                        }
                        $('#record-content').html(content);
                        
                        $('.category-selector').change(function(){
                            var selectedContent = "";
                            if($('.category-selector').val() == "All Category"){
                                for(var i = 0; i < contentList.length; i++){
                                    selectedContent+=contentList[i];
                                }
                                $('#record-content').html(selectedContent);
                            }
                            else{
                                for(var i = 0; i < msg.recordList.length; i++){
                                    if(msg.recordList[i].category == $('.category-selector').val()){
                                        //console.log(msg.recordList[i].recordId);
                                        selectedContent+=contentList[i];
                                    }
                                }
                                $('#record-content').html(selectedContent);
                            }
                        })
                        
                        //add record                        
                        var valueAdd = true;
                        $('.add-record-category').html("<option value = 'income'>income</option>");
                        $('#my-checkbox1').on('switchChange.bootstrapSwitch',function(event, state){
                            valueAdd = state;
                            if(valueAdd == true){
                                $('.add-record-category').html("<option value = 'income'>income</option>");
                            }else{
                                $.ajax({
                                    type: "GET",
                                    url: "/category/list",
                                    dataType: "json",
                                    success:function(msg){
                                        if(msg.error){
                    
                                        }else{
                                            var contentAddRecord = "";
                                            for(var i = 0; i < msg.categoryList.length; i++){
                                                if(msg.categoryList[i].name != 'income')
                                                    contentAddRecord+="<option value = '"+msg.categoryList[i].name+"'>"+msg.categoryList[i].name+"</option>";
                                            }
                                            $('.add-record-category').html(contentAddRecord);
                                        }
                    
                                    }
                                })
                            }
                        }) 
                        
                        $('.add-record-submit').click(function(){
                            var now = new Date(), month = now.getMonth() + 1, day = now.getDate(), hour = now.getHours(), minute = now.getMinutes();
                            var date = now.getFullYear() + '-' + (month < 10 ? '0' + month : month) + '-' + (day < 10 ? '0' + day : day) + ' ' + (hour < 10 ? '0' + hour : hour) + ':' + (minute < 10 ? '0' + minute : minute);
                            date = $('.add-record-datepicker').val() != '' ? $('.add-record-datepicker').val() : date;
                            $.ajax({
                                type: "POST",
                                url: "record/new",
                                data: {
                                    amount: valueAdd?$('.add-amount').val():0-$('.add-amount').val(),
                                    category: $('select.add-record-category').val(),
                                    desc: $('.add-record-desc').val(),
                                    dateTime: date
                                },
                                dataType: "json",
                                success:function(msg){
                                    if(msg.error){
                                        alert("error");
                                    }else{
                                        location.reload();
                                    }
                                }
                            })
                        })
                        
                        //delete record
                        $('.deleteRecordButton').click(function(){
                            var temp = $(this).attr('id').split('-');
                            var rec = temp[0];
                            var amt = 0;
                            for(var i = 0; i < msg.recordList.length; i++){
                                if(msg.recordList[i].recordId == rec){
                                    amt = msg.recordList[i].amount;
                                }
                            }
                            $('#deleteRecordConfirm').click(function(){
                                $.ajax({
                                    type: "DELETE",
                                    url: "/record",
                                    data: {_method:"delete", recordId: rec, amount: amt},
                                    datatype: "json",
                                    success:function(msg){
                                        if(msg.error == false){
                                            location.reload();
                                        }
                                    }
                                })
                            })
                        })
                        
                        //edit record
                        $('.editRecordButton').click(function(){
                            var temp = $(this).attr('id').split('-');
                            var rec = temp[0];
                            for(var i = 0; i < msg.recordList.length; i++){
                                if(msg.recordList[i].recordId == rec){
                                    if(msg.recordList[i].amount >= 0){
                                        $('.editAmount').val(msg.recordList[i].amount);
                                        if (!$('#my-checkbox2').bootstrapSwitch('state'))
                                            $('#my-checkbox2').bootstrapSwitch('toggleState');
                                    }else{
                                        $('.editAmount').val(0-msg.recordList[i].amount);
                                        if ($('#my-checkbox2').bootstrapSwitch('state'))
                                            $('#my-checkbox2').bootstrapSwitch('toggleState');
                                    }
                                    $('select.edit-record-category>option[value=' + msg.recordList[i].category + ']').attr("selected", "selected");
                                    $('.edit-record-datepicker').val(msg.recordList[i].dateTime);
                                    $('.editDesc').val(msg.recordList[i].desc);
                                    break;
                                }
                            }
                            $('#editRecordConfirm').click(function(){
                                var valueEdit = $('#my-checkbox2').bootstrapSwitch('state')
                                $.ajax({
                                    type: "PUT",
                                    url: "/record",
                                    data: {
                                        recordId: rec,
                                        amount: valueEdit?$('.editAmount').val():0-$('.editAmount').val(),
                                        category: $('select.edit-record-category').val(),
                                        desc: $('.editDesc').val(),
                                        dateTime: $('.edit-record-datepicker').val()
                                    },
                                    dataType: "json",
                                    success:function(msg){
                                        if(msg.error){
                                            alert("error");
                                        }else{
                                            location.reload();
                                        }
                                    }
                                })
                            })
                        })
                        
                        
                    }
                    
                }
            })
            
            
        })
    </script>

<% include footer.html %>