    <!-- sidebar start -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <% if (title == "Home") { %>
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <% } %>
                <a href="/home">
                    <i class="icon-home"></i>
                    <span>Home</span>
                </a>
            </li>            
            <li>
                <% if (title == "Record") { %>
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <% } %>
                <a href="/record">
                    <i class="icon-edit"></i>
                    <span>Record</span>
                </a>
            </li>
            <li>
                <% if (title == "Category") { %>
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <% } %>
                <a href="/category">
                    <i class="icon-tags"></i>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <% if (title == "Statistic") { %>
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <% } %>
                <a href="/statistic">
                    <i class="icon-signal"></i>
                    <span>Statistic</span>
                </a>
            </li>
             <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-star"></i>
                    <span>Function</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/map">Map</a></li>
                    <li><a href="/calendar">Calendar</a></li>
                </ul>
               
            </li>
            <li>
                <a class="dropdown-toggle" href="#">
                    <i class="icon-cog"></i>
                    <span>Setting</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="/user">Account Settings</a></li>
                    <li><a href="/signout">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- sidebar end -->