<% include header.html %>
    <script>
        var response = false;    
        $().ready(function() {
        	// validate the comment form when it is submitted
            $.validator.addMethod(
                "uniqueEmail",
                function(value, element) {
                    $.ajax({
                        type: "POST",
                        url: "/validate",
                        data: value,
                        success: function(msg){
                            response = msg.flag;
        			    }
                    });
                    // BUG here: cannot submit form
                    return response;
                },
                "Email is Already Taken"
            );
        	// validate signup form on keyup and submit
        	$("#signupForm").validate({
        		rules: {
        			email: {
        				required: true,
        				email: true,
                        uniqueEmail: true
        			},
        			password: {
        				required: true,
        				minlength: 6
        			},
        			confirm_password: {
        				required: true,
        				minlength: 6,
        				equalTo: "#password"
        			}
        			
        		},
        		messages: {
                    email: {
                        required: "Please provide a email address",
                        email: "Please enter a valid email address",
                        uniqueEmail: "Email duplicate. Enter another email address"
                    },
        			
        			password: {
        				required: "Please provide a password",
        				minlength: "Your password must be at least 6 characters long"
        			},
        			confirm_password: {
        				required: "Please provide a password",
        				minlength: "Your password must be at least 6 characters long",
        				equalTo: "Please enter the same password as above"
        			}
        			
        			
        		}
        	});

        });
    </script>
    <div id="main">
        <div class="row-fluid login-wrapper">
            <div class="box">
                <div class="content-wrap">
                    <h6>Sign Up</h6>
                    <form class="cmxform" id="signupForm" method="post" action="/signup" novalidate="novalidate">
                        <label style="width: 770px;"for="email">Email</label>
                        <input id="email" name="email" type="email">

                        <label for="password">Password</label>
                        <input id="password" name="password" type="password">

                        <label for="confirm_password">Confirm password</label>
                        <input id="confirm_password" name="confirm_password" type="password">
                        <input class="submit" type="submit" value="Submit">
                    </form>
                </div>
            </div>
            <div class="span4 already">
                <p>Already have an account?</p>
                <a href="/signin">Sign in</a>
            </div>
        </div>
    </div>
<% include footer.html %>