<% include header.html %>
<% include sidebar.html %>
    <div class="content">
        <div class="container-fluid">
            <div id="pad-wrapper">
                 <!-- jQuery flot chart -->
                <div class="row-fluid section">
                    <h4 class="title">
                        <div class="btn-group pull-right">
                            <button class="glow left active" id="weekbtn">WEEK</button>
                            <button class="glow middle" id="monthbtn">MONTH</button>
                            <button class="glow right" id="yearbtn">YEAR</button>
                        </div>
                    </h4>
                    
                    <div class="span12" id="sectionWeek">
                        <div id="statsChart"></div>
                    </div>
                    <div class="span12 hide" id="sectionMonth">
                        <div id="statsChartMonth"></div>
                    </div>
                    <div class="span12 hide" id="sectionYear">
                        <div id="statsChartYear"></div>
                    </div>
                 
                </div>
               
               

                <!-- morris bar & donut charts -->
                <div class="row-fluid section">
                    <h4 class="title">
                        Monthly Category View
                    </h4>
                    <div class="span6 chart">
                        <h5>Alter and Expense</h5>
                        <div id="hero-bar" style="height: 250px;"></div>
                    </div>
                    <div class="span5 chart">
                        <h5>Category Percentage</h5>
                        <div id="hero-donut" style="height: 250px;"></div>    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- flot charts -->
    <script src="js/jquery.flot.js"></script>
    <script src="js/jquery.flot.stack.js"></script>
    <script src="js/jquery.flot.resize.js"></script>
    <!-- morrisjs -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="js/morris.min.js"></script>

  
    <script type="text/javascript">
        $("#weekbtn").click(function(){
            $("#weekbtn").addClass("active");
            $("#monthbtn").removeClass("active");
            $("#yearbtn").removeClass("active");
            $("#sectionWeek").removeClass("hide");
            $("#sectionMonth").addClass("hide");
            $("#sectionYear").addClass("hide");
        });
        $("#monthbtn").click(function(){
            $("#weekbtn").removeClass("active");
            $("#monthbtn").addClass("active");
            $("#yearbtn").removeClass("active");
            $("#sectionWeek").addClass("hide");
            $("#sectionMonth").removeClass("hide");
            $("#sectionYear").addClass("hide");
        });
        $("#yearbtn").click(function(){
            $("#weekbtn").removeClass("active");
            $("#monthbtn").removeClass("active");
            $("#yearbtn").addClass("active");
            $("#sectionWeek").addClass("hide");
            $("#sectionMonth").addClass("hide");
            $("#sectionYear").removeClass("hide");
        });
    </script>
    
<!--data-->
    <script type="text/javascript">
        // Morris Bar Chart
        $.ajax({
            type: "GET",
            url: "/statistic/chart/bar",
            dataType: "json",
            success: function(msg){
                if(msg.error){
                }else{
                    for(var i = 0; i < msg.barList.length; i++){
                        msg.barList[i].amount = 0-msg.barList[i].amount;
                    }
                    Morris.Bar({
                        element: 'hero-bar',
                        data: msg.barList,
                        xkey: 'category',
                        ykeys: ['line', 'amount'],
                        labels: ['Lines', 'Amount'],
                        barRatio: 0.4,
                        xLabelMargin: 10,
                        hideHover: 'auto',
                        barColors: ["red", "#3d00ba"]
                    });
                    
                }
                    
            }
        })
        
        $.ajax({
            type: "GET",
            url: "/statistic/chart/pan",
            dataType: "json",
            success: function(msg){
                if(msg.error){
                }else{
                    var total = 0;
                    for(var i = 0; i < msg.panList.length; i++){
                        console.log(msg.panList[i].value);
                        total+=msg.panList[i].value;
                    }
                    console.log(total);
                    for(var i = 0; i < msg.panList.length; i++){
                        msg.panList[i].value = (msg.panList[i].value/total)*100;
                        msg.panList[i].value = Math.round(msg.panList[i].value*100)/100;
                        
                    }
                    Morris.Donut({
                        element: 'hero-donut',
                        data: msg.panList,
                        colors: ["#30a1ec", "#76bdee", "#c4dafe"],
                        formatter: function (y) { return y + "%" }
                    });
                }
            }
        })

        $.ajax({
            type: "GET",
            url: "/statistic/chart/line/weekly",
            dataType: "json",
            success: function (msg) {
                if(!msg.error){
                    var value = [], alert = [], label = []
                    for (var i = 0, amount = 0; i < msg.lineList.length; i++) {
                        amount -= msg.lineList[i].amount
                        label.push([i + 1, msg.lineList[i].date])
                        value.push([i + 1, amount - msg.line])
                    }
                    alert.push([1, msg.line])
                    alert.push([msg.lineList.length, msg.line])
                    $.plot($("#statsChart"),
                        [ { data: alert, label: "Alert"}, { data: value, label: "Cost"}],
                        {
                            series: {
                                lines: { show: true,
                                        lineWidth: 1,
                                        fill: true, 
                                        fillColor: { colors: [ { opacity: 0.05 }, { opacity: 0.09 } ] }
                                     },
                                points: { show: true, 
                                         lineWidth: 2,
                                         radius: 3
                                     },
                                shadowSize: 0,
                                stack: true
                            },
                            grid: { hoverable: true, 
                                   clickable: true, 
                                   tickColor: "#f9f9f9",
                                   borderWidth: 0
                                },
                            legend: {
                                    // show: false
                                    labelBoxBorderColor: "#fff"
                                },  
                            colors: ["#30a0eb", "#a7b5c5"],
                            xaxis: {
                                ticks: label,
                                font: {
                                    size: 12,
                                    family: "Open Sans, Arial",
                                    variant: "small-caps",
                                    color: "#9da3a9"
                                }
                            },
                            yaxis: {
                                ticks:3, 
                                tickDecimals: 0,
                                font: {size:12, color: "#9da3a9"}
                            }
                        }
                    );
                }
            }
        })

        $.ajax({
            type: "GET",
            url: "/statistic/chart/line/monthly",
            dataType: "json",
            success: function (msg) {
                if(!msg.error){
                    var value = [], alert = [], label = []
                    for (var i = 0, amount = 0; i < msg.lineList.length; i++) {
                        amount -= msg.lineList[i].amount
                        label.push([i + 1, msg.lineList[i].date])
                        value.push([i + 1, amount - msg.line])
                    }
                    alert.push([1, msg.line])
                    alert.push([msg.lineList.length, msg.line])
                    $.plot($("#statsChartMonth"),
                        [ { data: alert, label: "Alert"}, { data: value, label: "Cost"}],
                        {
                            series: {
                                lines: { show: true,
                                        lineWidth: 1,
                                        fill: true, 
                                        fillColor: { colors: [ { opacity: 0.05 }, { opacity: 0.09 } ] }
                                     },
                                points: { show: true, 
                                         lineWidth: 2,
                                         radius: 3
                                     },
                                shadowSize: 0,
                                stack: true
                            },
                            grid: { hoverable: true, 
                                   clickable: true, 
                                   tickColor: "#f9f9f9",
                                   borderWidth: 0
                                },
                            legend: {
                                    // show: false
                                    labelBoxBorderColor: "#fff"
                                },  
                            colors: ["#30a0eb", "#a7b5c5"],
                            xaxis: {
                                ticks: label,
                                font: {
                                    size: 12,
                                    family: "Open Sans, Arial",
                                    variant: "small-caps",
                                    color: "#9da3a9"
                                }
                            },
                            yaxis: {
                                ticks:3, 
                                tickDecimals: 0,
                                font: {size:12, color: "#9da3a9"}
                            }
                        }
                    );
                }
            }
        })

        $.ajax({
            type: "GET",
            url: "/statistic/chart/line/yearly",
            dataType: "json",
            success: function (msg) {
                if(!msg.error){
                    var value = [], alert = [], label = []
                    for (var i = 0, amount = 0; i < msg.lineList.length; i++) {
                        amount -= msg.lineList[i].amount
                        label.push([i + 1, msg.lineList[i].date])
                        value.push([i + 1, amount - msg.line])
                    }
                    alert.push([1, msg.line])
                    alert.push([msg.lineList.length, msg.line])
                    $.plot($("#statsChartYear"),
                        [ { data: alert, label: "Alert"}, { data: value, label: "Cost"}],
                        {
                            series: {
                                lines: { show: true,
                                        lineWidth: 1,
                                        fill: true, 
                                        fillColor: { colors: [ { opacity: 0.05 }, { opacity: 0.09 } ] }
                                     },
                                points: { show: true, 
                                         lineWidth: 2,
                                         radius: 3
                                     },
                                shadowSize: 0,
                                stack: true
                            },
                            grid: { hoverable: true, 
                                   clickable: true, 
                                   tickColor: "#f9f9f9",
                                   borderWidth: 0
                                },
                            legend: {
                                    // show: false
                                    labelBoxBorderColor: "#fff"
                                },  
                            colors: ["#30a0eb", "#a7b5c5"],
                            xaxis: {
                                ticks: label,
                                font: {
                                    size: 12,
                                    family: "Open Sans, Arial",
                                    variant: "small-caps",
                                    color: "#9da3a9"
                                }
                            },
                            yaxis: {
                                ticks:3, 
                                tickDecimals: 0,
                                font: {size:12, color: "#9da3a9"}
                            }
                        }
                    );
                }
            }
        })

        function showTooltip(x, y, contents) {
            $('<div id="tooltip">' + contents + '</div>').css( {
                position: 'absolute',
                display: 'none',
                top: y - 30,
                left: x - 50,
                color: "#fff",
                padding: '2px 5px',
                'border-radius': '6px',
                'background-color': '#000',
                opacity: 0.80
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        
        $("#statsChart").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(0),
                        y = item.datapoint[1].toFixed(0);

                    var month = item.series.xaxis.ticks[item.dataIndex].label;

                    showTooltip(item.pageX, item.pageY,
                                item.series.label + " of " + month + ": " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });

        $("#statsChartMonth").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(0),
                        y = item.datapoint[1].toFixed(0);

                    var month = item.series.xaxis.ticks[item.dataIndex].label;

                    showTooltip(item.pageX, item.pageY,
                                item.series.label + " of " + month + ": " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });

        $("#statsChartYear").bind("plothover", function (event, pos, item) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(0),
                        y = item.datapoint[1].toFixed(0);

                    var month = item.series.xaxis.ticks[item.dataIndex].label;

                    showTooltip(item.pageX, item.pageY,
                                item.series.label + " of " + month + ": " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    </script>
<% include footer.html %>